Flask==0.10.1
Flask-Assets==0.9
Jinja2==2.7.2
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
closure==20121212
cssmin==0.2.0
gunicorn==18.0
itsdangerous==0.24
pep8==1.5.7
requests==2.3.0
webassets==0.9
webassets-iife==0.1.0
wsgiref==0.1.2
