<div ng-controller="rmSMSCtrl" id="sms-form">
  {% include "partials/alerts.html" %}

  <h1 class="text-center">{{ _("Send a new SMS") }}</h1>
  <form ng-submit="scheduleSMS()" class="well" name="smsForm">
    <div>
      <label class="control-label" for="_is">{{ _("Text") }}</label>
      <textarea class="form-control" name="text" id="_is" required
                  ng-min-length="1"
                  ng-model="sms.text">{{ fields.text }}</textarea>
      <div class="vspace20"></div>
      <div class="row">
        <div class="col-md-12">
          <p class="vertical-middle-text">
             {{ _("On") }} <time datepicker-popup
                                 ng-model="sms.when.day"
                                 is-open="sms.when.datePickerOpened"
                                 show-button-bar="false"
                                 current-text="{{ _("Today") }}"
                                 clear-text="{{ _("Clear") }}"
                                 close-text="{{ _("Done") }}"
                                 min-date="sms.when.minDate"
                                 ng-required="true"
                                 ng-click="openDatePicker($event)"
                                 datepicker-options='{
                                  "show-weeks":false,
                                  "starting-day": 1,
                                  "year-range": 3
                                 }'
                                 datetime="_{ sms.when.day }_"
                                 class="clickable-text offset-top-2">_{ sms.when.day|date:'fullDate' }_</time>
              {{ _("at") }}
              <span timepicker
                    ng-model="sms.when.time"
                    show-meridian="false"
                    class="offset-top-2"></span>
              {{ _(".") }}
        </div>
      </div>
      <div class="vspace10"></div>

      <input type="submit" class="btn btn-primary"
             ng-disabled="!smsForm.text.$valid"
             value="{{ _("Save") }}" />
    </div>
  </form>

</div>
<script type="text/x-strings" id="_strings">
server-error:{{ _("An error occurred. Please try again in a few minutes.") }}
success:{{ _("Your SMS has been successfully scheduled!") }}
</script>
