<div ng-init="locale='{{ g.locale }}'" data-ng-controller="pcSMSCtrl">

  <form class="form-block" id="sms-form" method="post">
      <h1>{{ _("Send a new SMS") }}</h1>
      <div class="form-group">
          <label class="control-label" for="_is">{{ _("Text") }}</label>
          <textarea class="form-control" name="text" id="_ie" data-ng-model="text">{{ fields.text }}</textarea>
          <input class="form-control" type="text" name="when" id="when" value="{{ _("Today") }}" data-ng-model="when" />
          <input class="btn btn-primary" type="submit" value="{{ _("Send") }}" />
      </div>
  </form>

</div>
