@import "utils.less";
@import "alerts.less";

.navbar-default {
  // should already be in bootflat
  background-color: @darkmint;
  border-color: @darkmint;
}

.dropdown-menu {
  background-color: @white;
  border: 1px solid @darkmint;
  outline: none;

  li a {
    color: @text;

    &:focus, &:hover {
      color: @light-text;
      background-color: @lightmint;
    }
  }
}

body > .navbar {
  // no ugly top corners
  border-radius: 0;
}

.light-bar {
  .navbar {
    background-color: transparent;
    border-color: transparent;

    .navbar-brand {
      &:focus, &:hover {
        cursor: default;
        color: inherit;
      }
    }
  }
}
.navbar {
  .dropdown-icon {
    padding-top: 12px;
    padding-bottom: 12px;

    i {
      font-size: 26px;
    }
  }
}

.user-actions {
    max-width: 300px;
}
#sms-form {
  margin: auto;
  max-width: 740px;
}

.form-block {
  &.form-block-sm {
    margin-top: 80px;
    max-width: 340px;
  }

  &.form-block-md {
    margin-top: 30px;
    max-width: 420px;
  }

  padding: 20px 30px 20px;
  border-radius: 5px;

  input {
    margin-top: 10px;
    border: 1px solid #DDD;

    &:first-of-type {
      margin-top: 0px;
    }

    &.submit {
      border: none;
      margin: 35px 0 10px;
    }
  }
}
