/* colors */
/* utilities */
.vspace10 {
  height: 10px;
}
.vspace20 {
  height: 20px;
}
a.text {
  color: inherit;
}
.offset-top-2 {
  display: inline-block;
  margin-top: -2px;
}
.clickable-text {
  font-weight: bold;
  cursor: pointer;
}
.vertical-middle-text > * {
  vertical-align: middle;
}
table[role=grid] {
  outline: none;
}
#sms-form {
  position: relative;
}
.alerts {
  position: absolute;
  width: 100%;
  top: -74px;
}
.alerts .alert.ng-enter,
.alerts .alert.ng-leave {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.alerts .alert.ng-enter {
  opacity: 0;
}
.alerts .alert.ng-enter.ng-enter-active {
  opacity: 1;
}
.alerts .alert.ng-leave {
  margin-top: 0px;
  opacity: 1;
}
.alerts .alert.ng-leave.ng-leave-active {
  margin-top: -80px;
  opacity: 0;
}
.navbar-default {
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #37bc9b;
  outline: none;
}
.dropdown-menu li a {
  color: #333333;
}
.dropdown-menu li a:focus,
.dropdown-menu li a:hover {
  color: #ffffff;
  background-color: #48cfad;
}
body > .navbar {
  border-radius: 0;
}
.light-bar .navbar {
  background-color: transparent;
  border-color: transparent;
}
.light-bar .navbar .navbar-brand:focus,
.light-bar .navbar .navbar-brand:hover {
  cursor: default;
  color: inherit;
}
.navbar .dropdown-icon {
  padding-top: 12px;
  padding-bottom: 12px;
}
.navbar .dropdown-icon i {
  font-size: 26px;
}
.user-actions {
  max-width: 300px;
}
#sms-form {
  margin: auto;
  max-width: 740px;
}
.form-block {
  padding: 20px 30px 20px;
  border-radius: 5px;
}
.form-block.form-block-sm {
  margin-top: 80px;
  max-width: 340px;
}
.form-block.form-block-md {
  margin-top: 30px;
  max-width: 420px;
}
.form-block input {
  margin-top: 10px;
  border: 1px solid #DDD;
}
.form-block input:first-of-type {
  margin-top: 0px;
}
.form-block input.submit {
  border: none;
  margin: 35px 0 10px;
}
