/* colors */

@lightmint: #48CFAD;
@darkmint: #37BC9B;
@white: white;

@text: #333;
@light-text: white;

/* utilities */

.vspace10 { height: 10px; }
.vspace20 { height: 20px; }

a.text {
  color: inherit;
}
