<!doctype html>
<html lang="{{ g.locale|default('en') }}" dir="ltr" {% block html_attrs %}{% endblock %}>
  <head>
    <meta charset="utf-8" />
    <meta name="language" content="{{ g.locale|default('en') }}" />
    <title>Remind Me{% if g.title %}› {{ g.title }}{% endif %}</title>
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <link rel="icon" type="image/png" href="/static/imgs/rm.png" />
    <link rel="apple-touch-icon"      href="/static/imgs/rm.png" />
    <meta name="author" content="Baptiste Fontaine" />

    {% assets "js_all" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {# L10N #}
    {% if g.locale is defined and g.locale != 'en' %}
    <script src="/static/js/vendor/angular-locale_{{ g.locale }}.js"></script>
    {% endif %}
  </head>
  <body class="app">
    {% block top_body %}{% endblock %}
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, msg in messages %}
      <div class="alert alert-{{ category }}">{{ msg }}</div>
        {% endfor %}
      {% endwith %}
      {% block body %}{% endblock %}
    </div>
  </body>
</html>

