{% extends "base.html" %}
{% block top_body %}
<div id="login-page">
{% include "partials/topbar.html" %}
</div>
{% endblock %}
{% block body %}
<div class="center-block thin-form">
  <form class="form-block form-horizontal" method="post">
    <label class="control-label sr-only" for="_ie">{{ _("Email") }}</label>
    <input type="email"
           class="form-control input-lg" name="email" id="_ie"
           placeholder="{{ _("Email") }}"
           value="{{ fields.email }}" />

    <label class="control-label sr-only" for="_ip">{{ _("Password") }}</label>
    <input type="password" class="form-control input-lg" name="password" id="_ip"
           placeholder="{{ _("Password") }}"
           value="{{ fields.password }}" />

    <input class="btn btn-primary btn-lg btn-block submit" type="submit"
           value="{{ _("Login") }}" />
  </form>
</div>
{% endblock %}
