{% extends "base.html" %}
{% block body %}
<form class="form-block form-horizontal" method="post">
  <div class="form-group form-group-lg">
    <label class="control-label" for="_ie">{{ _("Email") }}</label>
    <input type="email" class="form-control" name="email" id="_ie" />
    <span class="help-block">{{ _("We'll use it if you forgot your password") }}</span>

    <label class="control-label" for="_ip">{{ _("Password") }}</label>
    <input type="password" class="form-control" name="password" id="_ip" />
    <span class="help-block">{{ _("Choose a strong one that you can remember") }}</span>
  </div>
  <div class="form-group">
    <label class="control-label" for="_iu">{{ _("API User") }}</label>
    <input type="text" class="form-control" name="api_user" id="_iu" />
    <span class="help-block">{{ _("This is the API user given by Free") }}</span>

    <label class="control-label" for="_ip2">{{ _("API Password") }}</label>
    <input type="password" class="form-control" name="api_pass" id="_ip2" />
    <span class="help-block">{{ _("This is the API key given by Free") }}</span>
  </div>

  <input class="btn btn-primary" type="submit" value="{{ _("Go") }}" />
</form>
{% endblock %}
