{% extends "base.html" %}
{% block top_body %}
<div class="light-bar">
{% include "partials/topbar.html" %}
</div>
{% endblock %}
{% block body %}
<div class="center-block form-block form-block-md">
  <form class="form-horizontal" method="post">
    <label class="control-label sr-only" for="_ie">{{ _("Email") }}</label>
    <input type="email" class="form-control input-lg" name="email" id="_ie"
           placeholder="{{ _("Email") }}"
           value="{{ fields.email }}" />
    <span class="help-block">{{ _("We'll use it if you forgot your password") }}</span>

    <label class="control-label sr-only" for="_ip">{{ _("Password") }}</label>
    <input type="password" class="form-control input-lg" name="password" id="_ip"
           placeholder="{{ _("Password") }}"
           value="{{ fields.password }}" />
    <span class="help-block">{{ _("Choose a strong one that you can remember") }}</span>

    <hr/>

    <label class="control-label sr-only" for="_iu">{{ _("API User") }}</label>
    <input type="text" class="form-control" name="api_user" id="_iu"
           placeholder="{{ _("API User") }}"
           value="{{ fields.api_user }}" />
    <span class="help-block">{{ _("This is the API user given by Free") }}</span>

    <label class="control-label sr-only" for="_ip2">{{ _("API Key") }}</label>
    <input type="text" class="form-control" name="api_pass" id="_ip2"
           placeholder="{{ _("API Key") }}"
           value="{{ fields.api_pass }}" />
    <span class="help-block">{{ _("This is the API key given by Free") }}</span>

    <input class="btn btn-primary btn-lg btn-block submit" type="submit"
           value="{{ _("Go") }}" />
  </form>
</div>
{% endblock %}
